<div>
  <h2>sidebar</h2>
  
  <ul class="sidebar-list">
    <li>
      <p class="node" ng-click="selected($event)">rooms</p>
      <ul class="sidebar-list" ng-repeat="(name,room) in dungeon.rooms">
        <li>
          <p class="node" ng-click="selected($event ,name, room)">{{name}}</p>
          <ul class="sidebar-list">
            <li>
              <p class="node" ng-click="selected($event)">exits</p>
              <ul class="sidebar-list" ng-repeat="(name,exit) in room.exits">
                <li><p class="node" ng-click="selected($event ,name, exit)">{{name}}</p></li>
              </ul>
            </li>
            <li>
              <p class="node" ng-click="selected($event)">objects</p>
              <ul class="sidebar-list" ng-repeat="(name,object) in room.objects">
                <li><p class="node" ng-click="selected($event ,name, object)">{{name}}</p></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <p class="node" ng-click="selected($event)">items</p>
      <ul class="sidebar-list" ng-repeat="(name,item) in dungeon.items">
        <li><p class="node" ng-click="selected($event ,name, item)">{{name}}</p></li>
      </ul>
    </li>
    <li>
      <p href="" ng-click="selected($event, 'player',dungeon.player)">player</p>
    </li>
    
  </ul>
</div>