/*
 * Native edits
 */
 
body {
    background-color: #2C3133;
    background: url('../img/dungeon.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

p{
    color:inherit;
}

i{
    color: #3CA9F7;
}
input, button, select, option{
   background-color: rgba(0,0,0,0.3);
   border: 0px;
   padding: 4px;
   color: white;
}

select option{
    background-color: rgb(0,0,0);
}

input, button {
    padding: 5px;
}

input:focus, select:focus, button:active, button:focus {
    outline: none !important;
    /*border:1px solid red;*/
    box-shadow: 0 0 10px #719ECE;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*
 * Custom ids and classes
 */

.room-name{
    font-size: 1.2em;
    font-weight: bold;
    color: #3CA9F7;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.page-title {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2C3133;
    box-shadow: 2px 2px 5px #000000;
}

/*this is the thing editing the <p> tag*/
.entry{
    border:0px;
    margin:0px;
    margin-bottom:0.5em;
    margin-right:0.5em;
    padding:0em;
    
}
.break{
    border:0px;
    margin:0px;
    margin-bottom:0.5em;
    margin-right:0.5em;
    padding:0em;
    border-top:1px;
    border-style:dotted;
    border-color:inherit;
}

#inputForm {
    display: flex;
    margin-bottom: 0px;
}

#inputBox {
    flex-grow: 10;
    margin-right: 5px;
    color: white;
}

#inputButton {
    flex-grow: 1;
}

#output {
    height: 90%;
    overflow-y: scroll;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 60%;
}

.output-box {
    padding: 8px;
    background-color: #2C3133;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 2px 2px 5px #000000;
}

#chooseAdventureForm {
    padding-top: 5px;
    margin-bottom: 0px;
    /*padding-bottom: 5px;*/
}