.navbar{
	font-size: 18px;
    background-color: #2C3133;
}

.navbar-brand{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
}

.navbar-nav>li>a{
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus{
    background-color:#485563;
}