#box{
	height: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 15px 0px 15px;
	background-color: #2C3133;
}
.output-box{
	overflow-y: scroll;
	height: 80%;
}

.output-box i{
	color: #3CA9F7;
}

.break{
    border:0px;
    margin:0px;
    margin-bottom:0.5em;
    margin-right:0.5em;
    padding:0em;
    border-top:1px;
    border-style:dotted;
    border-color:inherit;
}

.entry{
    border:0px;
    margin:0px;
    margin-bottom:0.5em;
    margin-right:0.5em;
    padding:0em;
}

.room-name{
    font-size: 1.2em;
    font-weight: bold;
    color: #3CA9F7;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.output-box::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0,0,0,0.3);
}
 
.output-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.output-box::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}