<div ng-include="'app/partials/navbar/navbar.html'"></div>
<div ng-include="'app/partials/header/header.html'"></div>
<div class="container">
  <div class="row">
	  <div class="col-md-offset-1 col-md-10">
	      <h1 class="page-header text-center">{{dungeon.name}}</h1>
	  </div>
  </div>
  <div class="row">
  	<div class="col-md-offset-1 col-md-10">
  		<div class="row">
	  		<uib-tabset class="create-tab" type="pills">
				<uib-tab index="0" heading="Rooms">
			  		<uib-accordion close-others="false">
				  		<uib-accordion-group heading="{{key}}"  ng-repeat="(key, room) in dungeon.rooms"
				  		template-url="app/templates/accordioncustom.html">
				  			<h3>Name</h3>
				  			<input type="text" ng-model="room.name" class="form-control">
				  			<h3 uib-popover="The description you'll see when entering a room" 
				  			popover-trigger="mouseenter">Description</h3>
				  			<textarea rows="3" class="form-control" ng-model="room.description"></textarea>
				  			<h3 uib-popover="The objects in your room" popover-trigger="mouseenter"
				  			ng-show="room.objects">Objects</h3>
				  			<uib-accordion-group heading="{{obkey}}" ng-repeat="(obkey, object) in room.objects">
				  				<h3>States</h3>
				  				<uib-accordion-group heading="{{stkey}}" ng-repeat="(stkey, state) in object.states">
				  					<h4>Description</h4>
				  					<textarea class="form-control" ng-model="state.description"></textarea>
				  					<h4>Examination</h4>
				  					<textarea class="form-control" ng-model="state.examination"></textarea>
				  				</uib-accordion-group>
				  			</uib-accordion-group>
				  			<h3 uib-popover="The exits to other rooms" popover-trigger="mouseenter"
				  			ng-show="room.exits">Exits</h3>
				  			<uib-accordion-group heading="{{exkey}}" ng-repeat="(exkey, exit) in room.exits">
				  				<h3>Destination</h3>
				  				<select class="form-control" ng-model="exit.destination">
				  					<option ng-repeat="(key, room) in dungeon.rooms" value="{{key}}">{{room.name}}</option>
				  				</select>
				  				<h3>States</h3>
				  				<uib-accordion-group heading="{{stkey}}" ng-repeat="(stkey, state) in exit.states">
				  					<h4>Description</h4>
				  					<textarea class="form-control" ng-model="state.description"></textarea>
				  					<h4>Examination</h4>
				  					<textarea class="form-control" ng-model="state.examination"></textarea>
				  				</uib-accordion-group>
				  			</uib-accordion-group>
				  		</uib-accordion-group>
			  		</uib-accordion>
			  	</uib-tab>
				<uib-tab index="1" heading="Items">
			  		<uib-accordion close-others="false">
				  		<uib-accordion-group heading="{{key}}" ng-repeat="(key, item) in dungeon.items"
				  		template-url="app/templates/accordioncustom.html">
				  			<h3>States</h3>
			  				<uib-accordion-group heading="{{stkey}}" ng-repeat="(stkey, state) in item.states">
			  					<h4>Description</h4>
			  					<textarea class="form-control" ng-model="state.description"></textarea>
			  					<h4>Examination</h4>
					  			<textarea class="form-control" ng-model="state.examination"></textarea>
			  				</uib-accordion-group>
			  			</uib-accordion-group>
			  		</uib-accordion>
			  	</uib-tab>
	  		</uib-tabset>
	  	</div>
  	</div>
  </div>
</div>
<div ng-include="'app/partials/footer/footer.html'"></div>