

.create-tab h3{
	margin-top: 5px;
}

.create-tab h4{
	margin-top: 5px;
}


.sidebar-list {
	list-style:none;
	margin-left:0.1em;
	padding-left:0.75em;
}
li, li>p{
	margin:0px;
	padding:0px;
}
li{
	margin-top:0.1em;
}

.node{
	cursor:pointer;
}
.node.selection {
    background-color: rgba(0,0,0,0.5);
}


div[data-tree-model] li .expanded {
  background-image: none;
}
div[data-tree-model] li .expanded:before {
	content:"\f107";
	font-family:FontAwesome;
}




div[data-tree-model] li .collapsed {
  background-image: none;
}
div[data-tree-model] li .collapsed:before {
	content:"\f105";
	font-family:"FontAwesome";
}


div[data-tree-model] li .normal {
  background-image: none;
}