<uib-accordion close-others="false" ng-if="$parent.$parent.$parent.active === $parent.$parent.index">
	<uib-accordion-group heading="{{key}}" ng-repeat="(key, room) in dungeon.rooms"
	template-url="app/create/templates/accordioncustom.html">
		<uib-accordion-heading>
			{{ key }}
			<button class="btn btn-sm btn-danger pull-right" ng-click="deleteThing(dungeon.rooms, key)">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</uib-accordion-heading>
		<h3>Name</h3>
		<input type="text" ng-model="room.name" class="form-control">
		<h3 uib-popover="The description you'll see when entering a room" 
		popover-trigger="mouseenter">Description</h3>
		<textarea rows="3" class="form-control" ng-model="room.description"></textarea>
		<h3>Items 
		<button class="btn btn-sm btn-warning pull-right" ng-click="disabled = !disabled">
			<i class="glyphicon glyphicon-edit"></i>
		</button></h3>
		<select class="form-control" ng-if="$parent.isOpen" ng-model="room.items" ng-disabled="disabled" multiple>
			<option ng-repeat="(itkey, room) in dungeon.items" value="{{itkey}}">{{itkey}}</option>
		</select><br>
		<h3 uib-popover="The objects in your room" popover-trigger="mouseenter">Objects</h3>
		<uib-accordion-group ng-if="$parent.$parent.isOpen" heading="{{obkey}}" ng-repeat="(obkey, object) in room.objects" template-url="app/create/templates/accordioncustom.html">
			<uib-accordion-heading>
				{{ obkey }}
				<button class="btn btn-sm btn-danger pull-right" ng-click="deleteThing(room.objects, obkey)">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</uib-accordion-heading>
			<h3>Current State</h3>
			<select class="form-control" ng-if="$parent.isOpen" ng-model="object.current_state">
				<option ng-repeat="(stkey, state) in object.states" value="{{stkey}}">{{stkey}}</option>
			</select><br>
			<h3>States</h3>
			<uib-accordion-group ng-if="$parent.$parent.isOpen" heading="{{stkey}}" ng-repeat="(stkey, state) in object.states" template-url="app/create/templates/accordioncustom.html">
				<uib-accordion-heading>
					{{ stkey }}
					<button class="btn btn-sm btn-danger pull-right" ng-click="deleteThing(object.states, stkey)">
						<i class="glyphicon glyphicon-trash"></i>
					</button>
				</uib-accordion-heading>
				<h4>Description</h4>
				<textarea class="form-control" ng-model="state.description"></textarea>
				<h4>Examination</h4>
				<textarea class="form-control" ng-model="state.examination"></textarea>
			</uib-accordion-group>
			<uib-accordion-group template-url="app/create/templates/accordionaddnew.html">
				<form ng-submit="addState(object); $parent.isOpen = !$parent.isOpen">
					<h4>State Id</h4>
					<input type="text" ng-model="newRoom.newstateid" class="form-control" /><br>
					<input type="submit"  value="Save" class="btn btn-success" />
				</form>
			</uib-accordion-group>
		</uib-accordion-group>
		<uib-accordion-group template-url="app/create/templates/accordionaddnew.html">
		<form ng-submit="addObject(key); $parent.isOpen = !$parent.isOpen">
			<h4>Object Id</h4>
			<input type="text" ng-model="newRoom.newobjectid" class="form-control" /><br>
			<input type="submit"  value="Save" class="btn btn-success" />
		</form>
		</uib-accordion-group>
		<h3 uib-popover="The exits to other rooms" popover-trigger="mouseenter">Exits</h3>
		<uib-accordion-group ng-if="$parent.$parent.isOpen" heading="{{exkey}}" ng-repeat="(exkey, exit) in room.exits" template-url="app/create/templates/accordioncustom.html">
			<uib-accordion-heading>
				{{ exkey }}
				<button class="btn btn-sm btn-danger pull-right" ng-click="deleteThing(room.exits, exkey)">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</uib-accordion-heading>
			<h3>Destination</h3>
			<select class="form-control" ng-model="exit.destination">
				<option ng-repeat="(key, room) in dungeon.rooms" value="{{key}}">{{key}}</option>
			</select>
			<h3>Current State</h3>
			<select class="form-control" ng-if="$parent.isOpen" ng-model="exit.current_state">
				<option ng-repeat="(stkey, state) in exit.states" value="{{stkey}}">{{stkey}}</option>
			</select><br>
			<h3>States</h3>
			<uib-accordion-group ng-repeat="(stkey, state) in exit.states" template-url="app/create/templates/accordioncustom.html">
				<uib-accordion-heading>
					{{ stkey }}
					<button class="btn btn-sm btn-danger pull-right" ng-click="deleteThing(exit.states, stkey)">
						<i class="glyphicon glyphicon-trash"></i>
					</button>
				</uib-accordion-heading>
				<h4>Description</h4>
				<textarea class="form-control" ng-model="state.description"></textarea>
				<h4>Examination</h4>
				<textarea class="form-control" ng-model="state.examination"></textarea>
			</uib-accordion-group>
			<uib-accordion-group template-url="app/create/templates/accordionaddnew.html">
			<form ng-submit="addState(exit); $parent.isOpen = !$parent.isOpen">
					<h4>State Id</h4>
					<input type="text" ng-model="newRoom.newstateid" class="form-control" /><br>
					<input type="submit"  value="Save" class="btn btn-success" />
				</form>
			</uib-accordion-group>
		</uib-accordion-group>
		<uib-accordion-group template-url="app/create/templates/accordionaddnew.html">
		<form ng-submit="addExit(key); $parent.isOpen = !$parent.isOpen">
			<h4>Exit Id</h4>
			<input type="text" ng-model="newRoom.newexitid" class="form-control" /><br>
			<input type="submit"  value="Save" class="btn btn-success" />
		</form>
		</uib-accordion-group>
	</uib-accordion-group>
	<uib-accordion-group template-url="app/create/templates/accordionaddnew.html">
		<form ng-submit="addRoom(); $parent.isOpen = !$parent.isOpen">
			<h4>Room Id</h4>
			<input type="text" ng-model="newRoom.newroomid" class="form-control" /><br>
			<input type="submit"  value="Save" class="btn btn-success" />
		</form>
	</uib-accordion-group>
</uib-accordion>
