<uib-accordion close-others="false" ng-if="$parent.$parent.$parent.active === $parent.$parent.index">
	<uib-accordion-group ng-repeat="(key, item) in dungeon.items" template-url="app/create/templates/accordioncustom.html">
		<uib-accordion-heading>
			{{ key }}
			<button class="btn btn-sm btn-danger pull-right" ng-click="woo($event)">
				<i class="glyphicon glyphicon-trash"></i>
			</button>
		</uib-accordion-heading>
		<h3>States</h3>
		<uib-accordion-group heading="{{stkey}}" ng-repeat="(stkey, state) in item.states">
			<h4>Description</h4>
			<textarea class="form-control" ng-model="state.description"></textarea>
			<h4>Examination</h4>
			<textarea class="form-control" ng-model="state.examination"></textarea>
		</uib-accordion-group>
		<uib-accordion-group template-url="app/create/templates/accordionaddnew.html">
			<form ng-submit="addState(item); $parent.isOpen = !$parent.isOpen">
				<h4>State Id</h4>
				<input type="text" ng-model="newRoom.newstateid" class="form-control" /><br>
				<input type="submit"  value="Save" class="btn btn-success" />
			</form>
		</uib-accordion-group>
	</uib-accordion-group>
	<uib-accordion-group template-url="app/create/templates/accordionaddnew.html">
		<form ng-submit="addItem(); $parent.isOpen = !$parent.isOpen">
			<h4>Item Id</h4>
			<input type="text" ng-model="newRoom.newitemid" class="form-control" /><br>
			<input type="submit"  value="Save" class="btn btn-success" />
		</form>
	</uib-accordion-group>
</uib-accordion>
