<uib-accordion close-others="false" ng-if="$parent.$parent.$parent.active === $parent.$parent.index">
	<uib-accordion-group heading="{{key}}" ng-repeat="(key, item) in dungeon.items"
	template-url="app/create/templates/accordioncustom.html">
		<h3>States</h3>
		<uib-accordion-group heading="{{stkey}}" ng-repeat="(stkey, state) in item.states">
			<h4>Description</h4>
			<textarea class="form-control" ng-model="state.description"></textarea>
			<h4>Examination</h4>
			<textarea class="form-control" ng-model="state.examination"></textarea>
		</uib-accordion-group>
	</uib-accordion-group>
</uib-accordion>
