<uib-accordion-heading>
  trigger {{ $index }}
  <button class="btn btn-sm btn-danger pull-right" ng-click="deleteThing(item.states, stkey)">
    <i class="glyphicon glyphicon-trash"></i>
  </button>
</uib-accordion-heading>
<h4>Trigger Type</h4>
<select class="form-control" ng-model="trigger.trigger_type">
  <option ng-repeat="trigger_type in getTriggerTypes()" value="{{trigger_type}}">
    {{trigger_type}}
  </option>
</select>
<div ng-include="'app/create/partials/create_trigger.html'"></div>